@import url(style.css);

fieldset{
    padding: 25px;
    border-radius: 15px;
    border: 2px solid rgb(0, 0, 0);

}
fieldset label{
    display: block;
    padding-top: 10px;
}
legend{
    color: rgb(114, 0, 0);
    padding: 0;
}
    
textarea{
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid rgb(118, 0, 0); 
    outline: none;
}
    
textarea ::placeholder{
    color: rgb(0, 255, 170);
    padding-left: 5px;
    padding-top: 5px;
    
}
input ::placeholder{
    color: burlywood;
    
}
button{
    background-color: rgba(50, 0, 0, 0.212);
    padding: 15px;
    border-radius: 5px;
    border: none;
}
    

button :hover{
    font-weight: bold;
    border: 2px solid rgba(178, 34, 34, 0.349);
}
